<app-auth-layout>
  <div class="form-container">
    <h1>Entrar</h1>
    <a href="#" class="auth-redirect-link">Não possui conta ? faça seu cadastro →</a>

    <div class="input-icon">
      <i class="fa-solid fa-envelope"></i>
      <input
        type="email"
        placeholder="Email"
        required>
    </div>

    <div class="input-icon">
      <i class="fa-solid fa-lock"></i>
      <input
        type="password"
        placeholder="Senha"
        required>
    </div>

    <div class="auth-options">
      <div class="remember-me">
        <input type="checkbox" name="remember" id="remember">
        <label for="remember">Lembrar dados</label>
      </div>
      <a href="#" class="forgot-password">Esqueceu sua senha?</a>
    </div>

    <button class="btn-primary-auth">
      Entrar
    </button>
  </div>
</app-auth-layout>