<app-auth-layout>
  <div class="form-container">

    <h1>Entrar</h1>

    <a routerLink="/register" class="auth-redirect-link">
      Não possui conta? Faça seu cadastro →
    </a>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-icon">
        <i class="fa-solid fa-envelope"></i>

        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          autocomplete="email">
      </div>

      @if (
        loginForm.get('email')?.invalid &&
        loginForm.get('email')?.touched
      ) {
        <small class="error-msg">
          Informe um email válido.
        </small>
      }

      <div class="input-icon">
        <i class="fa-solid fa-lock"></i>

        <input
          type="password"
          placeholder="Senha"
          formControlName="password"
          autocomplete="current-password">
      </div>

      @if (
        loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched
      ) {
        <small class="error-msg">
          Informe sua senha.
        </small>
      }

      <div class="auth-options">
        <span class="forgot-password">
          Esqueceu sua senha?
        </span>
      </div>

      <button
        type="submit"
        class="btn-primary-auth"
        [disabled]="loading">

        {{ loading ? 'Entrando...' : 'Entrar' }}

      </button>

    </form>

  </div>
</app-auth-layout>
